/*************** MAIN ELEMENTS ***************/
body {
    margin: 0;
    padding: 0;
    display: block;
    pointer-events: none;
}
div,img,svg{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
}
#wrapper {
    display: block;
    top: 0;
    left: 0;
    width: 160px;
    height: 600px;
    overflow: hidden;
    background-color: #f1f5f7;
}
#bannerCover {
    width: inherit;
    height: inherit;
    background: #f1f5f7 ;
    pointer-events: none;
}
#border {
    /* 19510b */
    /* border: 2px solid #4a8b2c; */
    border: 1px solid #07182D;
    opacity: 0.6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}
#bgexit {
    width: inherit;
    height: inherit;
    cursor:pointer;
    pointer-events: auto;
    /* background-color: #ff0000; */
}
/********************** TEXT **********************/
.textGroup{
    top: 30px;
    left: 0px;
    width:160px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 25px;
    color:#07182D;
}
/* -------------------------------------- */
#p1{
    width: 160px;
    height: inherit;
    /* background-color: #f1f5f7; */
}
#text11{
    top: 20px;
}
#teacher{
    top: 170px;
    left: 68px;
    width: 117px;
    height: auto;
}
#teacher_chart{
    top: 128px;
    left: 9px;
    width: 140px;
    height: 120px;
}
#teacher_board{
    top: 20px;
    left: -18px;
    width: 266px;
    height: 332px;
}
#s1{
    top: 489px;
    left: -35px;
    width: 147px;
    height: auto;
}
#s2{
    top: 461px;
    left: 13px;
    width: 132px;
    height: auto;
}
#s3{
    top: 403px;
    left: -21px;
    width: 133px;
    height: auto;
}
#s4{
    top: 369px;
    left: 12px;
    width: 114px;
    height: auto;
}
#s5{
    top: 315px;
    left: -27px;
    width: 117px;
    height: auto;
}
/* -------------------------------------- */
/* -------------------------------------- */
#p2{
    width: 160px;
    height: inherit;
    /* background-color: #f1f5f7; */
}
#text21{
    top: 20px;
}
/* #p1,#p2 { */
    /* (top right), (right side), left side 0,  */
    /* clip: rect(0px,0px,250px,0px); */
    /* clip: rect(0px,300px,250px,0px); */
/* } */
#network1{
    top: 135px;
    left: -19px;
    clip: rect(0px,300px,600px,0px);
}
#wire{
    top:-15px;
    left: 84px;
    width: 1.5px;
    height: 160px;
    overflow: hidden;
}
#wire2{
    opacity: 0.7;
    width: inherit;
    height: inherit;
    background-color: #07182D;
}
#iphone{
    top: 508px;
    left: -3px;
    width: 55px;
    height: auto;
    rotate: -3deg;
}
#ipad{
    top: 492px;
    left: 92px;
    width: 74px;
    height: auto;
    rotate: 0deg;
}
#imac{
    top: 378px;
    left: 21px;
    width: 116px;
    height: auto;
}

/* -------------------------------------- */
/* -------------------------------------- */
#p3{
    width: 160px;
    height: inherit;
    background-color: #f1f5f7;
}
#text31{
    top: 20px;
}
#guy{
    /* top: 292px; -600 */
    top: -308px;
    left: 3px;
    width: 157px;
    height: auto;
}
#network2{
    /* top: 118px; -600     */
    top: -482px;
    left: -55px;
    width: 262px;
    height: auto;
}
/* -------------------------------------- */
/* -------------------------------------- */
#p4{
    width: 300px;
    height: inherit;
    background-color: #f1f5f7;
}
#logo_cisco{
    top: 13px;
    left: 42px;
    width: 68px;
    height: auto; 
}
#divider{
    display: none;
    top: 26px;
    left: 136px;
    width: 1px;
    opacity: 0.8;
    height: 25px;
    overflow: hidden;
    background-color: #07182D;
}
#logo_blueAlly{
    top: 55px;
    left: 30px;
    width: 104px;
    height: auto; 
}
#pic{
    top: 97px;
}
#text41{
    top: 370px;
    width: 160px;
    font-size: 22px;
    line-height: 25px;
}
#text42{
    top: 475px;
    left: 0px;
    width: 160px;
    /*  */
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /*  */
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.4px;
    line-height: 24px;
    color:#07182D;
}
/******************** CTA ********************/
#cta {
    top: 555px;
    left: 11px;
    width: 136px;
    height: 28px;
    line-height: 29px;
    letter-spacing: 0.4pt;
    cursor: pointer;
    border: 2px solid;
    color: #f1f5f7;
    background-color:#0460ff;
    /* border-radius:2px; */
    border-radius:24px;
    border-color:#0460ff;
    text-align: center;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/******************** LOGO ********************/