/*************** MAIN ELEMENTS ***************/
body , div, img{
   margin: 0;
   padding: 0;
   position: absolute;
}
#wrapper {
    display: block;
    width: 300px;
    height: 600px;
    overflow: hidden;
    background-color: #000;
}
#bannerCover {
    width: inherit;
    height: inherit;
    background: #000;
    pointer-events: none;
}
#border {
    border: 1px solid #aaaaaa;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}
#border2 {
    border: 6px solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}
#bgexit {
    width: inherit;
    height: inherit;
    cursor: pointer;
}
/******************** LOGO ********************/
#logos {
    width: inherit;
    height: inherit;
}
#logo {
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%) scale(0.8);
    -webkit-transform: translate(-50%, -50%) scale(0.8);/* chrome */
    -moz-transform: translate(-50%, -50%) scale(0.8);
    -ms-transform: translate(-50%, -50%) scale(0.8);
    -o-transform: translate(-50%, -50%) scale(0.8);

    /* cursor: pointer;
    width: 180px;
    height: auto;
    top:250px; 
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%); */
    /* filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .25)); */
    /* -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .25)); */
}
#logo_partner{
    cursor: pointer;
    position:absolute;
    width: 176px;
    height: auto;
    top: 29px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    fill:#ffffff;
    /* filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .25)); */
    /* -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .25)); */
}
/******************** BUTTON ********************/

#cta {
    width: 143px;
    height: 32px;
    bottom: 71px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    cursor: pointer;
    background: #000;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    text-transform: uppercase;
    font-family: "input-mono", monospace;
    font-weight: bold;
    font-style: normal; 
    font-size: 16px;
    line-height: 31px;
    letter-spacing: 1.3pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/********************** TEXT **********************/
#textBoxer {
    top:367px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 280px;
    height: 122px;
    line-height: 0.95;
    text-align: center;
    font-size: 23px;
    /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); */
    /* background-color: white; */
}

.text_header {
    color: #fff;
    font-family: "gamay-wide", sans-serif;
    font-weight: 700;
    font-style: normal; 
    width: 100%;
    height: auto;
    left:0px;
    line-height: inherit;
    font-size: inherit;
    /* background-color: rgba(18, 241, 10, 0.2); */
}
.text_subheader {
    color: #fff;
    font-family: "input-mono", monospace;
    font-weight: 400;
    font-style: normal; 
    letter-spacing: 1.0pt;
    line-height: 1.45;
    width: 100%;
    height: auto;
    left:0px;
    font-size: 45%; 

    /* background-color: red; */
}
/* .italicMe {
    font-family: 'Monday-Italic-min', serif;
} */

/********************** IMAGE **********************/
#imagesWrap {
    width: inherit;
    height: 310px;
    height: 252px;

    top: 107px;
    left: 0;
    overflow: hidden;
}

.imageDiv {
    width: inherit;
    height: inherit;
}
