.bgStyle {
  position: fixed;
  visibility: visible;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(99, 99, 99, 0.95);
}
.iframeHolderStyle {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iframeStyle {
  margin: 0px;
  padding: 0px;
  pointer-events: auto;
  border: 5px solid white;
  background-color: black;
}
